<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mined Blocks</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1>Mined Blocks</h1>
    <ul>
        {% for block in blocks %}
        <li>
            <strong>Block {{ block.index + 1 }}</strong><br>
            Timestamp: {{ block.timestamp }}<br>
            Hash: {{ block.hash_of_previous_block }}<br>
            Nonce: {{ block.nonce }}<br>
            Transactions: 
            <ul>
                {% for transaction in block.transactions %}
                <li>{{ transaction }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary m-2" onclick="window.location.href='/'">Back to Home</button>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</body>
</html>