<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Node</title>
</head>
<body>
    <h1>Add Node</h1>
    <form action="/nodes/add_node" method="POST">
        <label for="port">Port:</label>
        <input type="text" id="port" name="port"><br><br>
        
        <label for="role">Role (C for candidate or V for voter):</label>
        <input type="text" id="role" name="role"><br><br>

        <input type="submit" value="Add Node">
    </form>
</body>
</html>